<!DOCTYPE html>
<html lang="en">
<body>
<form method="POST" class="post-form" action="{{edit_url}}">
    {% csrf_token %}
    <input type="hidden" name="id"  value="{{ employee.id }}"/>
    <div class="container">
        <div>
            Employee Name: <input type="text" name="ename" id="id_ename" required maxlength="100" value="{{ employee.ename }}"/>
        </div>
        <div>
           Employee Email: <input type="email" name="eemail" id="id_eemail" required maxlength="254" value="{{ employee.eemail }}"/>
        </div>
        <div>
            Employee Contact:  <input type="text" name="econtact" id="id_econtact" required maxlength="15" value="{{ employee.econtact }}"/>
        </div>
        <div>
            <button type="submit" class="btn btn-success">Update</button>
        </div>
    </div>
</form>
</body>
</html>