<!DOCTYPE html>
<html lang="en">
<body>
<table>
    <thead>
    <tr>
        <th>File Name</th>
    </tr>
    </thead>
    <tbody>
    {% for file in file_listing %}
    <tr>
        <td>{{ file }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
</body>
</html>