<!DOCTYPE html>
<html lang="en">
<body>
<form method="POST" class="post-form" action="{{add_url}}">
    {% csrf_token %}
    <div class="container">
        <div class="form-group row">
                 Name:- {{ form.ename }}
        </div>
        <div class="form-group row">
                email:- {{ form.eemail }}
        </div>
        <div class="form-group row">
                contact:- {{ form.econtact }}
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</form>
</body>
</html>