<!DOCTYPE html>
<html lang="en">
<body>
<table>
    <thead>
    <tr>
        <th>Employee Name</th>
        <th>Employee Email</th>
        <th>Employee Contact</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    {% for employee in employees %}
    <tr>
        <td>{{ employee.ename }}</td>
        <td>{{ employee.eemail }}</td>
        <td>{{ employee.econtact }}</td>
        <td>
            <a href="/edit/{{ employee.id }}"><span class="glyphicon glyphicon-pencil">Edit</span></a>
            <a href="javascript:void(0)" class="delete" data-href="/delete/{{ employee.id }}" >Delete</a>
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>
<br>
<br>
<script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
<script>
var csrf = '{{ csrf_token }}'
$(function(){
    $(".delete").click(function(){
        ele_url = $(this).attr('data-href')
        $.ajax({
            url: ele_url,
            type: 'DELETE',
            headers: { "X-CSRFToken": csrf },
            success: function(result) {
               window.location.reload()
            }
        });
    });
})

</script>

<center><a href="{% url 'add' %}" class="btn btn-primary">Add New Record</a></center>
</body>
</html>