<!DOCTYPE html>
<html lang="en">
<body>
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <input type="text" name="title">
    <input type="file" name="myfile">
    <button type="submit">Upload</button>
  </form>
</body>
</html>